{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {{ form_start(formCour) }}
    <div class="container">
        <h1>Créons un cours ! </h1>
        <fieldset>
            <input type="text" name="titre" id="" class="form-control" placeholder="Titre..." required>
        </fieldset>
        <br>
        <fieldset>
            <input type="number" name="temps" min="1" max="60" required> minutes.
        </fieldset>
        <br>
        <fieldset>
            <h4>Créer un exercice :</h4>
            <textarea class="form-control " rows="5" cols="33" name="value" id="" placeholder="Taper votre code"
                required></textarea>
        </fieldset>
        <br>
        <fieldset>
            {{ form_widget(formCour.next) }}

            {{ form_widget(formCour.save) }}
        </fieldset>
    </div>
    {{ form_end(formCour ) }}
</div>

{% endblock %}