{% extends 'base.html.twig' %}

{% block nav_li%}
{% endblock %}

{% block body %}
	<table class="table">
		<tr>
			<th scope="col">
				N°
			</th>
			<th scope="col">
				Consigne
			</th>
			<th scope="col">
				Exercices
			</th>
			<th scope="col">
				Réussite
			</th>
		</tr>
		{% set i = 1 %}
		{% for exo in exos %}
			<tr>
				<th>
					{{ i }}
					{% set i = i+1 %}
				</th>
				<th>
					{{ exo.consigne }}
				</th>
				<th>
					{% for l in exo.getLigne()[:4] %}
						{{ l.text }}
						<br/>
					{% endfor %}
				</th>
				<th></th>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
