{% extends 'base.html.twig' %}

{% block nav_li %}
<li class="nav-li active"><a href="/inscription">Inscription</a></li>
<li class="nav-li active"><a href="/connexion">Connexion</a></li>
{% endblock %}

{% block body %}
<!-- Inscription Field-->
<div class="container-form">
  <div id="Form">
    <form class="" action="/inscription" method="post">
      <h3 id="insc_title">Inscription !</h3>
      <fieldset>
        <input required type="text" name="nom" id='nm' placeholder="Nom" autofocus><br>
      </fieldset>
      <fieldset>
        <input required type="text" name="prenom" id='prn' placeholder="Prenom"><br>
      </fieldset>
      <fieldset>
        <input required type="text" oninput="lowercase()" name="id" id='id' placeholder="Identifiant / Pseudo"><br>
      </fieldset>
      <fieldset>
        <input required type="email" name="mail" placeholder="Votre@email.com"><br>
      </fieldset>
      <fieldset>
        <input required oninput="checkmdp()" type="password" name="mdp" class="password" id="mdp"
          placeholder="Mot de passe (8 minimum)">
      </fieldset>
      <fieldset>
        <input required oninput="checkmdp()" type="password" name="cmdp" id="cmdp"
          placeholder="Confirmation mot de passe"><br>
      </fieldset>
      <fieldset>
        <label>Afficher le mot de passe</label>
        <input type="checkbox" name="unmask" id="unmask" onclick="afficher_mdp()">
        <br>
      </fieldset>
      <fieldset>
        <label>Eleve :</label>
        <input type="checkbox" name="eleve" id="eleve" onclick="is_check_e()">
        <br>
        <label>Professeur :</label>
        <input type="checkbox" name="prof" id="prof" onclick="is_check_p()">
        <br>
      </fieldset>
      <button type="submit" name="button" id="btn-sub" class="btn-sub" disabled>S'inscrire</button>
    </form>
  </div>
</div>
<!--End inscription field-->

<script type="text/javascript">
  //Verifier si eleve ou prof check
  function is_check_e() {
    if (document.getElementById('eleve').checked) {
      document.getElementById('prof').checked = false;
      document.getElementById('btn-sub').disabled = false;
    } else {
      document.getElementById('btn-sub').disabled = true;
    }
  }

  function is_check_p() {
    if (document.getElementById('prof').checked) {
      document.getElementById('eleve').checked = false;
    } else {
      document.getElementById('btn-sub').disabled = true;
    }
  }

  //Majuscule
  function lowercase(id) {
    document.getElementById('id').value = document.getElementById('id').value.toLowerCase();
  }

  //Afficher mdp
  function afficher_mdp() {
    if (document.getElementById('unmask').checked) {
      document.getElementById('mdp').type = 'text';
      document.getElementById('cmdp').type = 'text';
    } else {
      document.getElementById('mdp').type = 'password';
      document.getElementById('cmdp').type = 'password';
    }
  }

  //Verifier mdp == confimation mdp
  function checkmdp() {
    var mdp = document.getElementById("mdp");
    var cmdp = document.getElementById("cmdp");
    if (mdp.value.length >= 8 || cmdp.value.length >= 8) {
      if (mdp.value == cmdp.value) {
        mdp.style.border = "solid #008000";
        cmdp.style.border = "solid #008000";
        document.getElementById("btn-sub").disabled = false;

      } else {
        mdp.style.border = "solid #bb0b0b";
        cmdp.style.border = "solid #bb0b0b";
        document.getElementById("btn-sub").disabled = true;
      }
    } else {
      mdp.style.border = "";
      cmdp.style.border = "";
      document.getElementById("btn-sub").disabled = true;
    }
  }
</script>
{% endblock %}